.container{
    background-image: url('/images/bloco_final_image.svg');
    background-repeat: no-repeat;
    background-position: right;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    div.body{
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
        color: var(--blue-500);
        div{
            margin: 10rem 10rem;
            font-weight: bold;
            @media (max-width: 768px) {
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            p{
                font-size: 2rem;
                max-width: 23rem;
                font-family: 'Mulish', sans-serif;
            }
            input{
                padding: 0.6rem;
                margin-top: 2rem;
                width: 18rem;
                border: 1px solid var(--blue-500);
                border-radius: 5px;
                outline: none;
                &::placeholder{
                    color: var(--gray-300);
                    font-family: 'Mulish', sans-serif;
                }
            }
            button{
                padding: 0.7rem 0.7rem;
                margin-top: 2rem;
                margin-left: 1rem;
                width: 5rem;
                background-color: var(--green-500);
                border: none;
                color: var(--white);
                border-radius: 5px;
                transition: filter 0.2s;
                font-family: 'Mulish', sans-serif;
                @media (max-width: 768px) {
                    width: 100%;
                    margin-left: unset;
                    margin-top: 1rem;
                }
                &:hover{
                    filter: brightness(0.9)
                }
            }
        }
        
    }
}
.footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Mulish', sans-serif;
    @media (max-width: 768px) {
        justify-content: space-around;
    }
    div.left{
        color: var(--blue-500);
        display: flex;
        align-items: center;
        small{
            margin-left: 5rem;
            @media (max-width: 768px) {
               margin-left: 1rem;
               margin-right: 1rem ;
            }
        }
    }
    div.right{
        color: var(--gray-300);
        display: flex;
        align-items: center;
        padding-right: 5rem;
        @media (max-width: 768px) {
            padding-right: unset;
        }
        small{
            margin-right: 2rem;
            @media (max-width: 768px) {
                margin-right: 1rem;
            }
            transition: filter 0.2s;
            &:hover{
                filter: opacity(0.5);
            }
        }
    }   
}