*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --white: #FFFFFF;
    --gray-50: #faf8f8;
    --gray-200: #cacacc;
    --gray-300: #a8a8b3;
    --gray-700: #323238;
    --gray-800: #29292e;
    --gray-850: #1f2729;
    --gray-900: #121214;
    --blue-500: #20074e;
    --green-500: #aace48;
}

@media(max-width:1080px){
    html{
        font-size: 93.75%;
    }
}
@media(max-width:720px){
    html{
        font-size: 87.5%;
    }
}
body{
    background-color: var(--white);
    color: var(--white);
}

body, input,textarea,select,button{
    font: 400 1rem "Robot", sans-serif;
}

button{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}