.container{
    background-image: url('/images/bloco_services.svg');
    background-repeat: no-repeat;
    background-position: left;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    @media (max-width: 768px) {
        background-position-x: 100%;
    }
    div{
        width: 20rem;
        margin-right: 12rem;
        @media (max-width: 768px) {
            margin-right: unset;
        }
        h1{
            color: var(--blue-500);
           
        }
        p{ 
            color: var(--gray-300);
            margin-top: 3rem;
        }
        button{
            padding: 0.9rem 0.6rem ;
            border: none;
            outline: none;
            background-color: var(--green-500);
            color: var(--white);
            border-radius: 5px;
            margin-top: 3rem;
            width: 8rem;
            transition: filter 0.2s;
            &:hover{
                filter: brightness(0.8);
            }
        }
    }
    
}