.card {
    background-color: var(--white);
    max-width: 20rem;
    border-radius: 8px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 20px var(--gray-200);
    img {
        width: 18rem;
    }
    h3 {
        color: var(--blue-500);
        padding-top: 2rem;
        padding-left: 1rem;
        font-family: 'Montserrat', sans-serif;
    }
    div.footer {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        img {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 100%;
            margin-right: 0.5rem;
        }
        span {
            color: var(--gray-200);
            font-family: 'Poppins', sans-serif;
        }
    }
}
