.card {
    display: flex;
    background-color: var(--white);
    box-shadow: 2px 2px 20px var(--gray-200);
    border-radius: 5px;
    margin-right: 3rem;
    margin-bottom: 2rem;
    div {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        padding: 1rem 2rem;
        margin: auto auto;
        width: 100%;
        h2 {
            color: var(--blue-500);
            max-width: 12rem;
            font-family: 'Montserrat', sans-serif;
        }
        button{
            background-color: var(--green-500);
            border: none;
            outline: none;
            color: var(--white);
            margin-top: 1rem;
            padding: 0.7rem;
            max-width: 7rem;
            border-radius: 5px;
            transition: filter 0.2s;
            font-family: 'Mulish', sans-serif;
            &:hover{
                filter: brightness(0.8);
            }
        }
    }
}
