.container {
    height: 100vh;
    background-color: var(--gray-50);
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-top: 2rem;
        color: var(--blue-500);
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    p {
        color: var(--blue-300);
        margin-top: 1rem;
        text-align: center;
        max-width: 30rem;
        font-family: 'Poppins', sans-serif;
    }
    div.carousel {
        margin-top: 1rem;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        max-width: 75vw;
        background-color: transparent;
        padding: 1rem;
        &::-webkit-scrollbar {
            display: none;
        }
        div.buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            max-width: 75vw;
            width: 100%;
            max-height: 24rem;
            height: 100%;
            //box-shadow: inset -50px 0px 200px var(--gray-50);
            background-color: transparent;
            
            button {
                background-color: var(--white);
                border-radius: 50%;
                width: 3rem;
                height: 3rem;
                outline: none;
                border: none;
                color: var(--green-500);
                margin-right: 2rem;
                margin-left: 2rem;
                &.disabled{
                    visibility: hidden;
                }
                &.active{

                }
            }
        }
    }
}
